.layoutOuter {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.leftBarHolder {
	width: 2.5rem;
	padding: 2rem;
	height: calc(100% - 4rem);
	overflow-y: auto;
}

.pageHolder {
	width: calc(100vw - 7rem);
	padding: 2rem 2rem 2rem 0rem;
	height: calc(100% - 4rem);
	overflow-y: auto;
}