.choreStatContainer {
	display: inline-block;
}

.choreStatOuter {
	display: flex;
	align-items: center;
}

.choreStatIcon {
	margin-right: 0.5rem;
	color: rgba(255, 255, 255, 0.4);
}

.choreStatText {
	font-weight: 600;
	color: rgba(255, 255, 255, 0.4);
}